openapi: 3.0.0
info:
  title: Master API Duitku
  version: 1.0.0
  description: "\n\n## \U0001F4AB Overview\n\nOverview Master API Duitku\n\n### \U0001F6E1️ Request Header\nHTTP headers allow the client and the server to pass additional information with the request or the response. A HTTP header consists of its case-insensitive name followed by a colon ':', then by its value (without line breaks), leading by space before the value is ignored.\n\n* __X-duitku-code__\n\n    Duitku code is provided by Duitku.\n\n* __X-duitku-timestamp__\n\n    X-duitku-timestamp is the timestamp of the request. It used UNIX Timestamp.\n\n* __X-duitku-signature__\n\n    The signature is required all request. Signature using hmac and sha256 with request method, relative path, time stamp, hash of entity body, API key and validation key as parameters.\n    \n#### Signature Algorithm\n__signature__ = <b>hmac_sha256(upper(method)+\":\"+path+\":\"+duitku code+\":\"+lower(sha256(body))+\":\"+timestamp, secret key)</b><br/>\n```javascript\nconst moment = require(\"moment\");\n\nfunction getPath(url) {\n    var pathRegex = /.+?\\:\\/\\/.+?(\\/.+?)(?:#|\\?|$)/;\n    var result = url.match(pathRegex);\n    return result && result.length > 1 ? result[1] : ''; \n}\n\nvar timeNow = moment().valueOf();\nvar body = JSON.stringify('your_request_body');\nvar secret_key = 'your_secret_key';\nvar path = getPath(request['url']);\nvar duitku_code = 'your_duitku_code';\nvar method = 'your_request_method'.toUpperCase();\n// Hash Body\nvar body_hash = CryptoJS.SHA256(body).toString().toLowerCase();\n// Plain Text Signature\nvar signaturePlainText = method+\":\"+path+\":\"+duitku_code+\":\"+body_hash+\":\"+timeNow;\n// Signatuere\nvar signature = CryptoJS.HmacSHA256(signaturePlainText, secret_key).toString().toLowerCase();\n```"
  contact:
    name: Duitku Support
    email: it@duitku.com
    url: 'https://www.duitku.com/kontak/'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  termsOfService: 'https://www.duitku.com/kebijakan-privasi/'
servers:
  - description: Sandbox
    url: 'https://master-api-sandbox.duitku.com'
  - url: 'https://master-api.duitku.com'
    description: Production
paths:
  '/balance/{merchantId}':
    get:
      summary: Balance Merchant
      operationId: get-balance
      description: Return a balance of merchant
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
      security: []
      tags:
        - Balance
      responses:
        '200':
          description: Return detail balance by Id Merchant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
              examples: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    parameters:
      - $ref: '#/components/parameters/merchantId'
  '/balance/{merchantId}/history':
    parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
        description: ID of Merchant
    get:
      summary: Balance History
      responses:
        '200':
          description: Return balance mutation of merchant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceHistory'
              examples:
                example-1:
                  value:
                    - registerDate: string
                      amount: 0
                      type: string
                      lastBalance: 0
                      description: string
                      transactionId: 0
      operationId: get-balance-merchantId-history
      parameters:
        - $ref: '#/components/parameters/dateFrom'
        - $ref: '#/components/parameters/dateTo'
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
      description: Return historical list of merchant balances according to the specified date range (Balance mutation).
      tags:
        - Balance
  '/history/{merchantId}/moneyin':
    parameters:
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Money In
      tags:
        - History
      responses:
        '200':
          description: Return list history money in to the balance merchant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneyIn'
      operationId: get-history-merchantId-moneyin
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
        - $ref: '#/components/parameters/dateFrom'
        - $ref: '#/components/parameters/dateTo'
      description: Return list of the history of money entering the merchant's balance according to the specified date range
  '/history/{merchantId}/moneyout':
    parameters:
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Money Out
      tags:
        - History
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneyOut'
      operationId: get-history-merchantId-moneyout
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
        - $ref: '#/components/parameters/dateFrom'
        - $ref: '#/components/parameters/dateTo'
  '/merchant/{merchantId}':
    parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          example: 1
        description: ID of Merchant
    get:
      summary: Merchant Detail
      tags:
        - Merchant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDetail'
      operationId: get-merchant-merchantId
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
    put:
      summary: Update Detail Merchant
      operationId: put-merchant-merchantId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDetail'
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMerchant'
      tags:
        - Merchant
  /businesstype:
    get:
      summary: All Business Type
      tags:
        - Merchant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllBusinessType'
      operationId: get-businesstype
  '/merchant/{merchantId}/attachment':
    parameters:
      - $ref: '#/components/parameters/merchantId'
    post:
      summary: Attachment Merchant
      operationId: post-merchant-merchantId-attachment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
      tags:
        - Merchant
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AttachmentRequest'
        description: ''
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature-attachment'
  /api/callback:
    post:
      summary: Sample Webhook
      operationId: post-api-callback
      tags:
        - Webhook
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook-Payload'
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
      description: "<b>Note</b>\n- For the base url adjust to the base url of the website you are using.\n- For the string path used for checking signature, especially on webhooks using full path. <br/> Example : `https://your-business-website.com/api/callback`\n\n<b>Money-In Notification Payload</b>\n<code>\n{\n        \"id\": \"81a320d2-7d3d-499a-8556-adc66c9a73c6\",\n\t\"amount\": 73570,\n\t\"merchantId\": \"74\",\n\t\"publisherOrderId\": \"F1QODFSWWPJROFB0M\",\n\t\"registerDate\": \"2022-08-04 10:53:51\",\n\t\"transactionId\": 124885,\n\t\"type\": \"money-in-notification\",\n\t\"vaNumber\": \"7828700000000074\"\n}\n</code>\n\n<b>Internal-Transafer Notification Payload</b>\n<code>\n{\n        \"id\": \"81a320d2-7d3d-499a-8556-adc66c9a73c7\",\n\t\"amount\": 10000,\n\t\"merchantId\": \"18567\",\n\t\"registerDate\": \"2022-08-03 10:27:16\",\n\t\"transactionId\": 1831218,\n\t\"type\": \"internal-transfer-notification\",\n}\n</code>\n\n<b>Registration-Merchant Notification Payload</b>\n<code>\n{\n        \"id\": \"81a320d2-7d3d-499a-8556-adc66c9a73c1\",\n\t\"email\": \"registered_email\",\n\t\"merchantId\": \"18565\",\n\t\"registerDate\": \"2022-08-02 15:06:27\",\n\t\"status\": \"SUCCESS\",\n\t\"type\": \"registration-merchant\",\n}\n</code>\n\n<b>Merchant Status Notification Payload</b>\n<code>\n{\n        \"id\": \"81a320d2-7d3d-499a-8556-adc66c9a73c3\",\n\t\"email\": \"registered_email\",\n\t\"merchantId\": \"18565\",\n\t\"registerDate\": \"2022-08-02 15:06:27\",\n\t\"status\": \"ACTIVE\",\n\t\"type\": \"merchant-status\",\n}\n</code>"
  '/history/{merchantId}/moneyin/internaltransfer':
    parameters:
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Money In - Internal Transfer
      tags:
        - History
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneyIn-TransferInternal'
      operationId: get-history-merchantId-moneyin-internaltransfer
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
        - $ref: '#/components/parameters/dateFrom'
        - $ref: '#/components/parameters/dateTo'
  '/history/{merchantId}/moneyout/internaltransfer':
    parameters:
      - $ref: '#/components/parameters/merchantId'
    get:
      summary: Money Out - Internal Transfer
      tags:
        - History
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneyOut-TransferInternal'
      operationId: get-history-merchantId-moneyout-internaltransfer
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
        - $ref: '#/components/parameters/dateFrom'
        - $ref: '#/components/parameters/dateTo'
      description: ''
  /merchant/internaltransfer:
    post:
      summary: Merchant - Internal Transfer
      operationId: post-merchant-internaltransfer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalTransferResponse'
        '400':
          description: |
            - responseCode : 03 [ Source Merchant not found || Destination Merchant not found || Data Merchant not found ]
            - responseCode : 51 : [ Your balance is not enough to make a transfer with the given amount ]
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  responseCode:
                    type: string
                    minLength: 1
                  responseMessage:
                    type: string
                    minLength: 1
                required:
                  - responseCode
                  - responseMessage
                x-examples:
                  example-1:
                    responseCode: '03'
                    responseMessage: Source Merchant not found
      tags:
        - Merchant
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalTransfer'
  '/project/{merchantId}':
    parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          example: 1
        description: ID of Merchant
    post:
      summary: Create Project Merchant
      operationId: post-project-merchantId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMerchantResponse'
        '400':
          description: Please check the requirement request || User is not active
        '404':
          description: User data not found
        '500':
          description: Please try again later
      description: ''
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProjectMerchant'
      tags:
        - Project
    get:
      summary: Get List Project Merchant
      operationId: get-project-merchantId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectMerchant'
        '400':
          description: User data not found
        '500':
          description: Please try again later
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
      tags:
        - Project
  '/project/{merchantId}/{projectId}':
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/projectId'
    get:
      summary: Get Detail Project Merchant
      tags:
        - Project
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMerchantResponse'
        '404':
          description: Project data not found || User data not found
        '500':
          description: Please try again later
      operationId: get-project-merchantId-projectId
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
    put:
      summary: Update Project Merchant
      operationId: put-project-merchantId-projectId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMerchantResponse'
        '400':
          description: 'Invalid input, object invalid || Please check the requirement request'
        '500':
          description: Please try again later
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProjectMerchant'
      tags:
        - Project
  '/project/{merchantId}/{projectId}/attachment':
    parameters:
      - $ref: '#/components/parameters/merchantId'
      - $ref: '#/components/parameters/projectId'
    post:
      summary: Attachment Project
      operationId: post-project-merchantId-projectId-attachment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentProjectResponse'
        '400':
          description: Unknown file type || File is not exist || Maximum size 2Mb || Extension file is not supported || Undefined Type || Image LOGO must be 100x100px || Image BACKGROUND must be 1920x1080px
        '404':
          description: User data not found || Project is not exist
        '500':
          description: Please try again later
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature-attachment'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AttachmentProjectRequest'
  /additionaldata/bank:
    get:
      summary: List Data Bank
      tags:
        - Additional Data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalDataBank'
      operationId: get-additionaldata-bank
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
  /additionaldata/country:
    get:
      summary: List Data Country
      tags:
        - Additional Data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalDataCountry'
      operationId: get-additionaldata-country
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
  /additionaldata/businesstype:
    get:
      summary: List Data Business Type
      tags:
        - Additional Data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalDataBusinessType'
      operationId: get-additionaldata-businesstype
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
  /merchant/callback:
    post:
      summary: Merchant Registration Webhook
      operationId: post-merchant-webhook
      responses:
        '200':
          description: SUCCESS
      description: ''
      parameters:
        - $ref: '#/components/parameters/X-duitku-code'
        - $ref: '#/components/parameters/X-duitku-timestamp'
        - $ref: '#/components/parameters/X-duitku-signature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMerchant'
        description: ''
      tags:
        - Merchant
    parameters: []
components:
  schemas:
    Balance:
      description: ''
      type: object
      properties:
        totalBalance:
          type: number
        effectiveBalance:
          type: number
      required:
        - totalBalance
        - effectiveBalance
      x-examples:
        example-1:
          totalBalance: 1505462393
          effectiveBalance: 1505462393
    BalanceHistory:
      type: array
      description: ''
      minItems: 1
      uniqueItems: true
      items:
        type: object
        required:
          - registerDate
          - amount
          - type
          - lastBalance
          - description
          - transactionId
        properties:
          registerDate:
            type: string
            minLength: 1
          amount:
            type: number
          type:
            type: string
            minLength: 1
          lastBalance:
            type: number
          description:
            type: string
            minLength: 1
          transactionId:
            type: number
      x-examples:
        example-1:
          - registerDate: '2022-03-01 16:00:39'
            amount: 7354123
            type: C
            lastBalance: 9512223
            description: VA MAYBANK - VAUFCOZGP34BGPXZ1
            transactionId: 73228
          - registerDate: '2022-03-01 16:00:03'
            amount: 11500
            type: C
            lastBalance: 2158100
            description: VA MAYBANK - VA3QLIGWXNGUNJIE8
            transactionId: 73226
          - registerDate: '2022-03-01 14:10:11'
            amount: 70371
            type: C
            lastBalance: 2146600
            description: VA MAYBANK - VAZ5DKAP6AJQXPTYF
            transactionId: 73215
          - registerDate: '2022-03-01 14:09:32'
            amount: 14000
            type: C
            lastBalance: 2076229
            description: VA MAYBANK - VAXS7T21CV4D8PWC4
            transactionId: 73214
          - registerDate: '2022-02-23 16:50:42'
            amount: 996999
            type: C
            lastBalance: 2062229
            description: VA MAYBANK - VAB4S47C1D3NRS37M
            transactionId: 72973
          - registerDate: '2022-02-23 14:34:48'
            amount: 53741
            type: C
            lastBalance: 1065230
            description: VA MAYBANK - VA30MIZBIH4WD5L7B
            transactionId: 72957
          - registerDate: '2022-02-23 13:48:49'
            amount: 70571
            type: C
            lastBalance: 1011489
            description: VA MAYBANK - VA7CR35U05MNF0PT4
            transactionId: 72950
          - registerDate: '2022-02-23 12:21:14'
            amount: 70571
            type: C
            lastBalance: 940918
            description: VA MAYBANK - VAF4UWUWVAAAFQ4GW
            transactionId: 72938
          - registerDate: '2022-02-23 12:07:28'
            amount: 70571
            type: C
            lastBalance: 870347
            description: VA MAYBANK - VAXA8ND6CO4SXRRQW
            transactionId: 72937
          - registerDate: '2022-02-23 12:04:53'
            amount: 70571
            type: C
            lastBalance: 799776
            description: VA MAYBANK - VAG48S8G7LEPIDILK
            transactionId: 72936
          - registerDate: '2022-02-23 11:55:10'
            amount: 9345
            type: C
            lastBalance: 729205
            description: VA MAYBANK - VAH2G8UZQK87XOW3K
            transactionId: 72935
          - registerDate: '2022-02-23 11:31:01'
            amount: 9345
            type: C
            lastBalance: 719860
            description: VA MAYBANK - VA4JVRDOFPLO4TFQM
            transactionId: 72934
          - registerDate: '2022-02-23 11:17:53'
            amount: 70571
            type: C
            lastBalance: 710515
            description: VA MAYBANK - VAOTVX6KS4GZ8B5NK
            transactionId: 72931
          - registerDate: '2022-02-23 11:17:43'
            amount: 70575
            type: C
            lastBalance: 639944
            description: VA MAYBANK - VARJKC2L73QIG78ZN
            transactionId: 72930
          - registerDate: '2022-02-23 11:16:09'
            amount: 70575
            type: C
            lastBalance: 569369
            description: VA MAYBANK - VAPYA7C3IDXJYJ8KQ
            transactionId: 72929
          - registerDate: '2022-02-23 11:13:39'
            amount: 70571
            type: C
            lastBalance: 498794
            description: VA MAYBANK - VAJW3QYWJZDQGQUXH
            transactionId: 72927
          - registerDate: '2022-02-23 11:01:59'
            amount: 68777
            type: C
            lastBalance: 428223
            description: VA MAYBANK - VATGNKDROKT2DJP48
            transactionId: 72925
          - registerDate: '2022-02-23 10:58:19'
            amount: 70575
            type: C
            lastBalance: 359446
            description: VA MAYBANK - VAEIVNEOMFJNIPTGM
            transactionId: 72924
          - registerDate: '2022-02-23 10:54:17'
            amount: 70571
            type: C
            lastBalance: 288871
            description: VA MAYBANK - VAXTWGM0QU4JKEWT6
            transactionId: 72922
          - registerDate: '2022-02-23 10:53:19'
            amount: 12300
            type: C
            lastBalance: 218300
            description: VA MAYBANK - VA5IXZPCKI20HFI5F
            transactionId: 72921
          - registerDate: '2022-02-23 10:09:00'
            amount: 12500
            type: C
            lastBalance: 206000
            description: VA MAYBANK - VA15X3TILYICU1N26
            transactionId: 72917
          - registerDate: '2022-02-23 09:49:25'
            amount: 9500
            type: C
            lastBalance: 193500
            description: VA MAYBANK - VA4WDUW0ULT856M0R
            transactionId: 72916
          - registerDate: '2022-02-23 09:49:14'
            amount: 9500
            type: C
            lastBalance: 184000
            description: VA MAYBANK - VASFNWDE1LJXA1S05
            transactionId: 72915
          - registerDate: '2022-02-23 09:48:58'
            amount: 9500
            type: C
            lastBalance: 174500
            description: VA MAYBANK - VAUQ0YRLAJOH84OEQ
            transactionId: 72914
          - registerDate: '2022-02-23 09:37:03'
            amount: 14000
            type: C
            lastBalance: 165000
            description: VA MAYBANK - VA40J7006A0HNAU04
            transactionId: 72913
    MoneyIn:
      type: array
      description: ''
      minItems: 1
      uniqueItems: true
      x-examples:
        example-1:
          - vaNumber: null
            bankName: OVO PAYMENT
            amount: 17
            reference: OV75KNLD5XKO3S0W1
            registerDate: '1/3/2022 11:42:34 AM'
          - vaNumber: '88888992022011104'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 45000
            reference: BRFMZ7Y4LLZPWUUQ8
            registerDate: '1/11/2022 5:26:04 PM'
          - vaNumber: '77777992022011103'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 34000
            reference: BRNI2LT487LI2PEBF
            registerDate: '1/11/2022 5:40:20 PM'
          - vaNumber: '77777992022011202'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 76000
            reference: BR5CIOK46C6DYCTAX
            registerDate: '1/12/2022 9:15:12 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 12000
            reference: BR6CPK1OP86J4R5KO
            registerDate: '1/12/2022 9:41:41 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 13000
            reference: BRGTGWCTEQPLZL0S0
            registerDate: '1/12/2022 9:45:37 AM'
          - vaNumber: '9005028499471985'
            bankName: VA ARTHA GRAHA
            amount: 120000
            reference: AGOPYQ8P7PKCOZTT3
            registerDate: '2/2/2022 4:21:39 PM'
          - vaNumber: null
            bankName: OVO PAYMENT
            amount: 14
            reference: OVPQUOQ1PICQDDZ1Q
            registerDate: '1/3/2022 5:03:40 PM'
          - vaNumber: '88888992022011104'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 22100
            reference: BR0D1RDJG4F4CL6UM
            registerDate: '1/11/2022 5:35:06 PM'
          - vaNumber: '7777700394585816'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 50000
            reference: BRZ4P6VZG3HDDQLZQ
            registerDate: '1/12/2022 9:11:20 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 11000
            reference: BRC6YQGEDQFTJE2IK
            registerDate: '1/12/2022 9:39:09 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 12000
            reference: BRB52VVSFIK7W2SXS
            registerDate: '1/12/2022 9:41:48 AM'
          - vaNumber: null
            bankName: NOBU QR
            amount: 120000
            reference: NQDBVWQ8NBJV368V5
            registerDate: '1/28/2022 12:59:29 PM'
          - vaNumber: null
            bankName: OVO PAYMENT
            amount: 17
            reference: OVBHE3GJMH8QD0GMP
            registerDate: '1/3/2022 11:24:57 AM'
          - vaNumber: '7777700810315596'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 50000
            reference: BR324GZBX8RXPG4XM
            registerDate: '1/11/2022 4:07:26 PM'
          - vaNumber: '88888992022011104'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 22500
            reference: BRSXPTGO446OY1DX4
            registerDate: '1/11/2022 5:35:08 PM'
          - vaNumber: '77777992022011203'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 76000
            reference: BRC2O8MFRFH5DM0GU
            registerDate: '1/12/2022 9:15:10 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 12000
            reference: BRM78FF632ACAFJ8V
            registerDate: '1/12/2022 9:41:38 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 13000
            reference: BR5W6LE0ETJZJ10QT
            registerDate: '1/12/2022 9:45:34 AM'
          - vaNumber: '87816490694'
            bankName: POS INDONESIA
            amount: 120000
            reference: A2Q2C1QJWFYVRNGOK
            registerDate: '2/2/2022 4:04:44 PM'
          - vaNumber: null
            bankName: OVO PAYMENT
            amount: 17
            reference: OVP4UCYLADAS0IY42
            registerDate: '1/3/2022 11:17:40 AM'
          - vaNumber: '7777700496378300'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 50000
            reference: BR3IXNGC4CQTLEGOB
            registerDate: '1/11/2022 4:06:32 PM'
          - vaNumber: '88888992022011104'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 22400
            reference: BR85AWPIUL7PK1HYH
            registerDate: '1/11/2022 5:35:07 PM'
          - vaNumber: '77777992022011204'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 76000
            reference: BRLZK5GBQW0YAFCWW
            registerDate: '1/12/2022 9:15:07 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 11000
            reference: BRKSHD58ANNYOAJQU
            registerDate: '1/12/2022 9:39:32 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 13000
            reference: BR3LAHU46PJBEML5O
            registerDate: '1/12/2022 9:41:55 AM'
          - vaNumber: null
            bankName: NOBU QR
            amount: 11000
            reference: NQMVGQJDHEYW0BDH2
            registerDate: '1/31/2022 3:35:28 PM'
          - vaNumber: null
            bankName: OVO PAYMENT
            amount: 17
            reference: OVKZ1QFQSX5OJFR2A
            registerDate: '1/3/2022 11:43:50 AM'
          - vaNumber: '88888992022011104'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 22000
            reference: BR6WJ8NLLF01B2LUY
            registerDate: '1/11/2022 5:35:05 PM'
          - vaNumber: '7777700050488370'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 50000
            reference: BRYT7QYPDRUCM4HUM
            registerDate: '1/12/2022 9:10:26 AM'
          - vaNumber: '77777992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 76000
            reference: BRDGV8ZFLV3ITQBJQ
            registerDate: '1/12/2022 9:15:27 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 12000
            reference: BRREDG0OTQDJKRBS6
            registerDate: '1/12/2022 9:41:43 AM'
          - vaNumber: null
            bankName: MANUAL DEPOSIT
            amount: 10000000
            reference: MTWKLRYF1XBE2DLT1
            registerDate: '1/17/2022 2:03:02 PM'
          - vaNumber: '9005025668178633'
            bankName: VA ARTHA GRAHA
            amount: 120000
            reference: AGSZ34DHNYH0RR763
            registerDate: '2/2/2022 4:24:54 PM'
          - vaNumber: null
            bankName: OVO PAYMENT
            amount: 13
            reference: OVH0WNYDM7G1IINLL
            registerDate: '1/5/2022 6:03:16 PM'
          - vaNumber: '88888992022011104'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 22300
            reference: BRT87GKWI18VQJ60A
            registerDate: '1/11/2022 5:35:07 PM'
          - vaNumber: '77777992022011205'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 76000
            reference: BRJX1UZIIL85NGVUA
            registerDate: '1/12/2022 9:15:03 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 11000
            reference: BRWILTFO0KL0OGLOX
            registerDate: '1/12/2022 9:39:30 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 13000
            reference: BR41UHIE20NCLS3OF
            registerDate: '1/12/2022 9:41:52 AM'
          - vaNumber: null
            bankName: NOBU QR
            amount: 11000
            reference: NQE13YXWW05WA1DTU
            registerDate: '1/31/2022 3:26:48 PM'
          - vaNumber: null
            bankName: OVO PAYMENT
            amount: 14
            reference: OVH361RD7D0KHGVMD
            registerDate: '1/4/2022 11:52:00 AM'
          - vaNumber: '88888992022011104'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 22200
            reference: BRXWPCX6OA85M84MR
            registerDate: '1/11/2022 5:35:06 PM'
          - vaNumber: null
            bankName: BRI VIRTUAL ACCOUNT
            amount: 76000
            reference: BR6YEXR4KK2HBLRJC
            registerDate: '1/12/2022 9:15:00 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 11000
            reference: BRZ6TBM6QBNJGFQKP
            registerDate: '1/12/2022 9:39:28 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 13000
            reference: BRYNPU3C85NR54L2Y
            registerDate: '1/12/2022 9:41:50 AM'
          - vaNumber: null
            bankName: NOBU QR
            amount: 120000
            reference: NQWY2XP5GIEZ5LUD6
            registerDate: '1/28/2022 3:44:17 PM'
          - vaNumber: null
            bankName: OVO PAYMENT
            amount: 17
            reference: OVCUZ8E2MGHNBPLOS
            registerDate: '1/3/2022 12:07:19 PM'
          - vaNumber: '88888992022011104'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 22000
            reference: BRF2DOO04LLOBHRCG
            registerDate: '1/11/2022 5:35:05 PM'
          - vaNumber: '7777700969018838'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 50000
            reference: BRUH6MZSK08PHWVKS
            registerDate: '1/12/2022 9:10:57 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 11000
            reference: BR2YHDF7ZKPBOBA01
            registerDate: '1/12/2022 9:39:06 AM'
          - vaNumber: '88888992022011201'
            bankName: BRI VIRTUAL ACCOUNT
            amount: 12000
            reference: BRX0UNREAGIXGBUY3
            registerDate: '1/12/2022 9:41:45 AM'
          - vaNumber: '9030601124255226'
            bankName: SAMPOERNA VA
            amount: 120000
            reference: S1LM35TJPMJFRJA1G
            registerDate: '1/26/2022 10:53:46 AM'
          - vaNumber: '87811137890'
            bankName: POS INDONESIA
            amount: 120000
            reference: A28YKTZAPBG21CIBH
            registerDate: '2/2/2022 4:25:27 PM'
      items:
        type: object
        properties:
          vaNumber:
            type: string
          bankName:
            type: string
            minLength: 1
          amount:
            type: number
          reference:
            type: string
            minLength: 1
          registerDate:
            type: string
            minLength: 1
        required:
          - vaNumber
          - bankName
          - amount
          - reference
          - registerDate
    MoneyOut:
      type: array
      description: ''
      minItems: 1
      uniqueItems: true
      items:
        type: object
        required:
          - disburseId
          - registerDate
          - bankCode
          - bankAccountNumber
          - bankAccountName
          - amount
          - totalAmount
          - feeAmount
          - status
        properties:
          disburseId:
            type: number
          registerDate:
            type: string
            minLength: 1
          bankCode:
            type: string
            minLength: 1
          bankAccountNumber:
            type: string
            minLength: 1
          bankAccountName:
            type: string
          amount:
            type: number
          totalAmount:
            type: number
          feeAmount:
            type: number
          status:
            type: string
            minLength: 1
      x-examples:
        example-1:
          - disburseId: 662073
            registerDate: '2020-12-04 17:04:27'
            bankCode: '014'
            bankAccountNumber: '5270186248'
            bankAccountName: ''
            amount: 10000
            totalAmount: 14400
            feeAmount: 4400
            status: IF
          - disburseId: 662074
            registerDate: '2020-12-04 17:06:03'
            bankCode: '014'
            bankAccountNumber: '5270186248'
            bankAccountName: ARIYANTO
            amount: 10000
            totalAmount: 14400
            feeAmount: 4400
            status: ID
          - disburseId: 662075
            registerDate: '2020-12-04 17:09:18'
            bankCode: '014'
            bankAccountNumber: '5270186248'
            bankAccountName: ARIYANTO
            amount: 10000
            totalAmount: 14400
            feeAmount: 4400
            status: TP
          - disburseId: 672069
            registerDate: '2020-12-17 15:04:44'
            bankCode: '014'
            bankAccountNumber: '5270186248'
            bankAccountName: ARIYANTO
            amount: 10000
            totalAmount: 14400
            feeAmount: 4400
            status: ID
    MerchantDetail:
      type: object
      x-examples:
        example-1:
          id: 16473
          email: email-test@yourbusiness.com
          phoneNumber: '08123123123'
          status: UNVERIFIED
          businessInfo:
            merchantType: 1
            businessLocation: 1
            businessTypeId: 1
            nationality: 1
            description: Your business description
            brandName: Your business brand
            website: your-business-website.com
            businessAddress: Your business address
            domicileAddress: Your domicile address
            companyName: Your company name
          picInfo:
            identificationType: KTP
            identificationNumber: '12345678123'
            picName: Your pic name
            picDob: '1/2/1990 12:00:00 AM'
            picAddress: Your domicile address
            picGender: 1
          transactionProfile:
            avgVolumePerDay: 0
            avgVolumePerMonth: 0
            avgNominalPerDay: 0
            avgNominalPerMonth: 0
          bankInfo:
            bankCode: '014'
            bankName: Your bank name
            bankBranch: Your bank branch
            bankAccountNumber: '12312321'
            bankAccountName: Your bank account name
            swiftCode: CXVV
          customerServiceContactInfo:
            mainPhoneNumber: '081231231231'
            emergencyPhoneNumber: '085123123123'
            email: cs-test@yourbusiness.com
          technicalServiceContactInfo:
            mainPhoneNumber: '085131123412'
            emergencyPhoneNumber: '081456728908'
            email: ts-test@yourbusiness.com
          merchantVaNumber:
            - bankCode: '016'
              bankName: Maybank
              vaNumber: '7828700000000001'
              accountNameDifferentBank: Lorem ipsum dolor sit amet
              accountNameSameBank: Lorem ipsum dolor sit amet
              swiftCode: IBBKIDJA
              bankAddress: 'Sentral Senayan 3 8 JL. Asia Afrika Kompleks Gelora Bung Karno, Jakarta, 10270'
          disbursementKey: null
      description: ''
      properties:
        id:
          type: integer
        email:
          type: string
          maxLength: 100
          minLength: 1
        phoneNumber:
          type: string
          minLength: 1
          maxLength: 50
        status:
          type: string
          enum:
            - ACTIVE
            - INACTIVE
            - BLOCKED
            - REACTIVE
            - PHONE_NOT_VERIFIED
            - UNVERFIED
            - PROCESSING
            - CLOSED
            - REJECTED
          maxLength: 20
          minLength: 1
        businessInfo:
          type: object
          properties:
            merchantType:
              type: integer
              enum:
                - 1
                - 2
              description: Merchant type consist of Personal (1) or Company (2)
            businessLocation:
              type: integer
              enum:
                - 1
                - 2
              description: 'Business Location consist of 1 (Indonesia), 2 (Overseas)'
            businessTypeId:
              type: integer
              enum:
                - 1
                - 2
              description: data can be obtained from api endpoint /businesstype
            nationality:
              type: integer
              description: 'Nationality consist of 1 (Indonesian), 2 (Foreigner)'
            countryCode:
              type: string
              minLength: 1
              maxLength: 3
            description:
              type: string
              minLength: 1
              maxLength: 255
            brandName:
              type: string
              minLength: 1
              maxLength: 255
            website:
              type: string
              minLength: 1
              maxLength: 255
            businessAddress:
              type: string
              minLength: 1
              maxLength: 640
            domicileAddress:
              type: string
              minLength: 0
              maxLength: 640
            companyName:
              type: string
              minLength: 1
              maxLength: 100
        picInfo:
          type: object
          properties:
            identificationType:
              type: string
              minLength: 1
              maxLength: 50
            identificationNumber:
              type: string
              minLength: 1
              maxLength: 100
            picName:
              type: string
              minLength: 1
              maxLength: 100
              enum:
                - YYYY-MM-DD
            picDob:
              type: string
              minLength: 1
              maxLength: 10
            picAddress:
              type: string
              minLength: 1
              maxLength: 255
            picGender:
              type: integer
              description: 'PIC Gender (0 - Female, 1 - Male)'
        transactionProfile:
          type: object
          properties:
            avgVolumePerDay:
              type: integer
            avgVolumePerMonth:
              type: integer
            avgNominalPerDay:
              type: integer
            avgNominalPerMonth:
              type: integer
        bankInfo:
          type: object
          properties:
            bankCode:
              type: string
              minLength: 0
              maxLength: 30
            bankName:
              type: string
              minLength: 0
              maxLength: 100
            bankBranch:
              type: string
              minLength: 0
              maxLength: 100
            bankAccountNumber:
              type: string
              minLength: 0
              maxLength: 50
            bankAccountName:
              type: string
              minLength: 0
              maxLength: 100
            swiftCode:
              type: string
              minLength: 0
              maxLength: 100
        customerServiceContactInfo:
          type: object
          properties:
            mainPhoneNumber:
              type: string
              minLength: 0
              maxLength: 20
            emergencyPhoneNumber:
              type: string
              minLength: 0
              maxLength: 20
            email:
              type: string
              minLength: 0
              maxLength: 255
        technicalServiceContactInfo:
          type: object
          properties:
            mainPhoneNumber:
              type: string
              minLength: 0
              maxLength: 20
            emergencyPhoneNumber:
              type: string
              minLength: 0
              maxLength: 20
            email:
              type: string
              minLength: 0
              maxLength: 255
        merchantVaNumber:
          type: array
          items:
            type: object
            properties:
              bankCode:
                type: string
              bankName:
                type: string
              vaNumber:
                type: string
              accountNameDifferentBank:
                type: string
              accountNameSameBank:
                type: string
              swiftCode:
                type: string
              bankAddress:
                type: string
        disbursementKey:
          type: string
    AllBusinessType:
      type: array
      description: ''
      minItems: 1
      uniqueItems: true
      items:
        type: object
        required:
          - id
          - description
        properties:
          id:
            type: number
          description:
            type: string
            minLength: 1
      x-examples:
        example-1:
          - id: 1
            description: Koperasi Pertanian
          - id: 2
            description: Layanan Lansekap
          - id: 3
            description: Kontraktor Umum
          - id: 4
            description: Penerbitan dan Pencetakan Lain-lain
          - id: 5
            description: Spesialis Pembersihan
          - id: 6
            description: Kereta Api Penumpang
          - id: 7
            description: Taksi dan Limusin
          - id: 8
            description: Layanan Kurir
          - id: 9
            description: Kapal Pesiar
          - id: 10
            description: Agen Perjalanan dan Operasi Tur
          - id: 11
            description: Peralatan Telekomunikasi Termasuk Penjualan Telepon
          - id: 12
            description: Utilitas
          - id: 13
            description: Perabot Kantor dan Komersial
          - id: 14
            description: 'Peralatan Kantor, Fotografi, Fotokopi, dan Mikrofilm'
          - id: 15
            description: 'Komputer, Peralatan Periferal Komputer, Perangkat Lunak'
          - id: 16
            description: 'Medis, Kedokteran Mata, Peralatan dan Suplai Rumah Sakit'
          - id: 17
            description: Bagian dan Peralatan Listrik
          - id: 18
            description: 'Alat Tulis, Perlengkapan Kantor, Percetakan, dan Kertas Tulis'
          - id: 19
            description: Bahan Kimia dan Produk Terkait (Tidak Diklasifikasikan di Tempat Lain)
          - id: 20
            description: Minyak Bumi dan Produk Minyak Bumi
          - id: 21
            description: 'Buku, Majalah, dan Koran'
          - id: 22
            description: Toko Perangkat Keras
          - id: 23
            description: Toko Serba Ada
          - id: 24
            description: Barang Dagangan Umum dan Aksesori Lain-lain
          - id: 25
            description: Toko Grosir
          - id: 26
            description: Toko Roti
          - id: 27
            description: 'Suku Cadang Otomotif, Toko Aksesoris'
          - id: 28
            description: Dealer Sepeda Motor
          - id: 29
            description: Toko Alat Rumah Tangga
          - id: 30
            description: Toko Elektronik
          - id: 31
            description: 'Toko Musik, Alat Musik, Musik Piano Sheet'
          - id: 32
            description: Penyedia makanan
          - id: 33
            description: Restoran Cepat Saji
          - id: 34
            description: Toko Obat dan Apotik
          - id: 35
            description: Toko Barang Antik
          - id: 36
            description: Pegadaian
          - id: 37
            description: Toko Alat Olah Raga
          - id: 38
            description: 'Toko Arloji, Jam, Perhiasan, dan Perak'
          - id: 39
            description: 'Toko Hobi, Mainan, dan Game'
          - id: 40
            description: 'Toko Kartu, Toko Hadiah, Barang Baru, dan Toko Souvenir'
          - id: 41
            description: Toko Koper dan Barang Kulit
          - id: 42
            description: 'Toko Perlengkapan Menjahit, Jarum, Kain'
          - id: 43
            description: Toko Barang Kaca Kristal
          - id: 44
            description: Artis
          - id: 45
            description: Penjual dan Galeri Seni
          - id: 46
            description: Toko Kosmetik
          - id: 47
            description: Toko bunga
          - id: 48
            description: Dealer Berita dan Kios
          - id: 49
            description: 'Toko Hewan, Makanan Hewan, dan Toko Perlengkapan'
          - id: 50
            description: Institusi Keuangan
          - id: 51
            description: 'Lembaga Non-Keuangan, Wesel'
          - id: 52
            description: Asuransi
          - id: 53
            description: 'Penginapan - Hotel, Motel, Resor'
          - id: 54
            description: 'Layanan Pembersihan, dan Pakaian'
          - id: 55
            description: Layanan Pemakaman dan Krematorium
          - id: 56
            description: Layanan Pembelian / Belanja
          - id: 57
            description: Panti Pijat
          - id: 58
            description: Toko Kesehatan dan Kecantikan
          - id: 59
            description: Layanan Periklanan
          - id: 60
            description: Agen Pelaporan Kredit Konsumen
          - id: 61
            description: 'Fotografi Komersial, Seni, dan Grafik'
          - id: 62
            description: Pemrograman Komputer
          - id: 63
            description: Layanan Bisnis
          - id: 64
            description: Perusahaan Penyewaan Mobil
          - id: 65
            description: Toko Layanan Otomotif
          - id: 66
            description: Cuci Mobil
          - id: 67
            description: Bengkel Elektronik
          - id: 68
            description: Perbaikan Alat Kecil
          - id: 69
            description: 'Jam, dan Perbaikan Perhiasan'
          - id: 70
            description: 'Mebel, Perbaikan Mebel, dan Refinishing Mebel'
          - id: 71
            description: Pakaian Olahraga
          - id: 72
            description: 'Taman Hiburan, Karnaval'
          - id: 73
            description: Rumah sakit
          - id: 74
            description: Layanan Hukum dan Pengacara
          - id: 75
            description: Layanan Pendidikan
          - id: 80
            description: Lain lain
          - id: 81
            description: Layanan Kedokteran Hewan
    AddMerchant:
      description: ''
      type: object
      x-examples:
        example-1:
          email: email-test@yourbusiness.com
          phoneNumber: '08123123123'
          businessInfo:
            merchantType: 1
            businessLocation: 1
            businessTypeId: 1
            nationality: 1
            description: Your business description
            brandName: Your business brand
            website: your-business-website.com
            businessAddress: Your business address
            domicileAddress: Your domicile address
            companyName: Your company name
          picInfo:
            identificationType: KTP
            identificationNumber: '12345678123'
            picName: Your pic name
            picDob: '1990-01-02'
            picAddress: Your pic address
            picGender: 1
          transactionProfile:
            avgVolumePerDay: 0
            avgVolumePerMonth: 0
            avgNominalPerDay: 0
            avgNominalPerMonth: 0
          bankInfo:
            bankCode: '014'
            bankName: Your bank name
            bankBranch: Your bank branch
            bankAccountNumber: '12312321'
            bankAccountName: Your bank account name
            swiftCode: CXVV
          customerServiceContactInfo:
            mainPhoneNumber: '081231231231'
            emergencyPhoneNumber: '085123123123'
            email: cs-test@yourbusiness.com
          technicalServiceContactInfo:
            mainPhoneNumber: '085131123412'
            emergencyPhoneNumber: '081456728908'
            email: ts-test@yourbusiness.com
      properties:
        email:
          type: string
          minLength: 1
          maxLength: 100
        phoneNumber:
          type: string
          minLength: 1
          maxLength: 50
        businessInfo:
          type: object
          required:
            - merchantType
            - businessLocation
            - businessTypeId
            - nationality
            - countryCode
            - description
            - brandName
            - website
            - businessAddress
            - companyName
          properties:
            merchantType:
              type: number
              description: Merchant type consist of Personal (1) or Company (2)
              enum:
                - 1
                - 2
            businessLocation:
              type: number
              enum:
                - 1
                - 2
              description: 'Business Location consist of 1 (Indonesia), 2 (Overseas)'
            businessTypeId:
              type: number
              description: data can be obtained from api endpoint additionaldata/businesstype
            nationality:
              type: number
              enum:
                - 1
                - 2
              description: 'Nationality consist of 1 (Indonesian), 2 (Foreigner)'
            countryCode:
              type: string
              minLength: 1
              maxLength: 5
              description: data can be obtained from api endpoint additionaldata/country
            description:
              type: string
              minLength: 1
              maxLength: 255
            brandName:
              type: string
              minLength: 1
              maxLength: 255
            website:
              type: string
              minLength: 1
              maxLength: 255
            businessAddress:
              type: string
              minLength: 1
              maxLength: 640
            domicileAddress:
              type: string
              maxLength: 640
              minLength: 0
            companyName:
              type: string
              minLength: 1
              maxLength: 100
        picInfo:
          type: object
          required:
            - identificationType
            - identificationNumber
            - picName
            - picDob
            - picAddress
            - picGender
          properties:
            identificationType:
              type: string
              minLength: 1
              enum:
                - ID CARD
                - PASSPORT
                - KITAS
              maxLength: 50
            identificationNumber:
              type: string
              minLength: 1
              maxLength: 100
            picName:
              type: string
              minLength: 1
              maxLength: 100
            picDob:
              type: string
              minLength: 1
              maxLength: 10
              enum:
                - YYYY-MM-DD
            picAddress:
              type: string
              minLength: 1
              maxLength: 255
            picGender:
              type: number
              enum:
                - 0
                - 1
              description: 'PIC Gender (0 - Female, 1 - Male)'
        transactionProfile:
          type: object
          properties:
            avgVolumePerDay:
              type: number
              enum:
                - 1
                - 2
                - 3
              description: |-
                <ul>
                <li>1 => less than 50 transactions per day (< 50)</li>
                <li>2 => 50 to 100 transactions per day (50 - 100)</li>
                <li>3 => more than 100 transactions per day (> 100)</li>
                </ul>
            avgVolumePerMonth:
              type: number
              enum:
                - 1
                - 2
                - 3
              description: |-
                <ul>
                <li>1 => less than 1500 transactions per month (< 1500)</li>
                <li>2 => 1500 to 3000 transactions per month (1500 - 3000)</li>
                <li>3 => more than 3000 transactions per month (> 3000)</li>
                </ul>
            avgNominalPerDay:
              type: number
              enum:
                - 1
                - 2
                - 3
              description: |-
                <ul>
                <li>1 => less than Rp 5.000.000 per day (< Rp 5.000.000)</li>
                <li>2 => Rp 5.000.000 to Rp 25.000.000 per day (Rp 5.000.000 - Rp 25.000.000)</li>
                <li>3 => more than Rp 25.000.000 per day (> Rp 25.000.000)</li>
                </ul>
            avgNominalPerMonth:
              type: number
              enum:
                - 1
                - 2
                - 3
              description: |-
                <ul>
                <li>1 => less than Rp 200.000.000 per month (< Rp 200.000.000)</li>
                <li>2 => Rp 200.000.000 to Rp. 500.000.000 per month (Rp 200.000.000 - Rp. 500.000.000)</li>
                <li>3 => more than Rp 500.000.000 per month (> Rp 500.000.000)</li>
                </ul>
        bankInfo:
          type: object
          properties:
            bankCode:
              type: string
              maxLength: 30
              minLength: 0
              description: data can be obtained from api endpoint additionaldata/bank
            bankBranch:
              type: string
              maxLength: 100
              minLength: 0
            bankAccountNumber:
              type: string
              maxLength: 50
              minLength: 0
            bankAccountName:
              type: string
              maxLength: 100
              minLength: 0
            swiftCode:
              type: string
              maxLength: 100
              minLength: 0
        customerServiceContactInfo:
          type: object
          properties:
            mainPhoneNumber:
              type: string
              maxLength: 20
              minLength: 0
            emergencyPhoneNumber:
              type: string
              maxLength: 20
              minLength: 0
            email:
              type: string
              maxLength: 255
              minLength: 0
        technicalServiceContactInfo:
          type: object
          properties:
            mainPhoneNumber:
              type: string
              maxLength: 20
              minLength: 0
            emergencyPhoneNumber:
              type: string
              maxLength: 20
              minLength: 0
            email:
              type: string
              maxLength: 255
              minLength: 0
      required:
        - email
        - phoneNumber
        - businessInfo
        - picInfo
    UpdateMerchant:
      description: ''
      type: object
      x-examples:
        example-1:
          email: email-test@yourbusiness.com
          phoneNumber: '08123123123'
          businessInfo:
            merchantType: 1
            businessLocation: 1
            businessTypeId: 1
            nationality: 1
            description: Your business description
            brandName: Your business brand
            website: your-business-website.com
            businessAddress: Your business address
            domicileAddress: Your domicile address
            companyName: Your company name
          picInfo:
            identificationType: KTP
            identificationNumber: '12345678123'
            picName: Your pic name
            picDob: '1990-01-02'
            picAddress: Your pic address
            picGender: 1
          transactionProfile:
            avgVolumePerDay: 0
            avgVolumePerMonth: 0
            avgNominalPerDay: 0
            avgNominalPerMonth: 0
          bankInfo:
            bankCode: '014'
            bankName: Your bank name
            bankBranch: Your bank branch
            bankAccountNumber: '12312321'
            bankAccountName: Your bank account name
            swiftCode: CXVV
          customerServiceContactInfo:
            mainPhoneNumber: '081231231231'
            emergencyPhoneNumber: '085123123123'
            email: cs-test@yourbusiness.com
          technicalServiceContactInfo:
            mainPhoneNumber: '085131123412'
            emergencyPhoneNumber: '081456728908'
            email: ts-test@yourbusiness.com
      properties:
        email:
          type: string
          minLength: 1
          default: your_registered_email
          maxLength: 100
        phoneNumber:
          type: string
          minLength: 1
          default: your_registered_phonenumber
          maxLength: 50
        businessInfo:
          type: object
          required:
            - merchantType
            - businessLocation
            - businessTypeId
            - nationality
            - countryCode
            - description
            - brandName
            - website
            - businessAddress
            - companyName
          properties:
            merchantType:
              type: number
              enum:
                - 1
                - 2
              description: Merchant type consist of Personal (1) or Company (2)
            businessLocation:
              type: number
              enum:
                - 1
                - 2
              description: 'Business Location consist of 1 (Indonesia), 2 (Overseas)'
            businessTypeId:
              type: number
              description: data can be obtained from api endpoint additionaldata/businesstype
            nationality:
              type: number
              enum:
                - 1
                - 2
              description: 'Nationality consist of 1 (Indonesian), 2 (Foreigner)'
            countryCode:
              type: string
              minLength: 1
              description: data can be obtained from api endpoint additionaldata/country
              maxLength: 5
            description:
              type: string
              minLength: 1
              maxLength: 255
            brandName:
              type: string
              minLength: 1
              maxLength: 255
            website:
              type: string
              minLength: 1
              maxLength: 255
            businessAddress:
              type: string
              minLength: 1
              maxLength: 640
            domicileAddress:
              type: string
              minLength: 0
              maxLength: 640
            companyName:
              type: string
              minLength: 1
              maxLength: 100
        picInfo:
          type: object
          required:
            - identificationType
            - identificationNumber
            - picName
            - picDob
            - picAddress
            - picGender
          properties:
            identificationType:
              type: string
              minLength: 1
              maxLength: 50
              enum:
                - ID CARD
                - PASSPORT
                - KITAS
            identificationNumber:
              type: string
              minLength: 1
              maxLength: 100
            picName:
              type: string
              minLength: 1
              maxLength: 100
            picDob:
              type: string
              minLength: 1
              maxLength: 10
              enum:
                - YYYY-MM-DD
            picAddress:
              type: string
              minLength: 1
              maxLength: 255
            picGender:
              type: number
              enum:
                - 0
                - 1
              description: 'PIC Gender (0 - Female, 1 - Male)'
        transactionProfile:
          type: object
          properties:
            avgVolumePerDay:
              type: number
            avgVolumePerMonth:
              type: number
            avgNominalPerDay:
              type: number
            avgNominalPerMonth:
              type: number
        bankInfo:
          type: object
          properties:
            bankCode:
              type: string
              minLength: 0
              maxLength: 30
              description: data can be obtained from api endpoint additionaldata/bank
            bankBranch:
              type: string
              maxLength: 100
              minLength: 0
            bankAccountNumber:
              type: string
              maxLength: 50
              minLength: 0
            bankAccountName:
              type: string
              maxLength: 100
              minLength: 0
            swiftCode:
              type: string
              maxLength: 100
              minLength: 0
        customerServiceContactInfo:
          type: object
          properties:
            mainPhoneNumber:
              type: string
              maxLength: 20
              minLength: 0
            emergencyPhoneNumber:
              type: string
              maxLength: 20
              minLength: 0
            email:
              type: string
              maxLength: 255
              minLength: 0
        technicalServiceContactInfo:
          type: object
          properties:
            mainPhoneNumber:
              type: string
              maxLength: 20
              minLength: 0
            emergencyPhoneNumber:
              type: string
              maxLength: 20
              minLength: 0
            email:
              type: string
              maxLength: 255
              minLength: 0
      required:
        - email
        - phoneNumber
        - businessInfo
        - picInfo
    AttachmentResponse:
      description: ''
      type: object
      x-examples:
        example-1:
          type: KTP
          contentType: image/png
          fileUrl: 'http://192.168.0.11:8888/Upload/test-attachment.png'
      properties:
        type:
          type: string
          minLength: 1
        contentType:
          type: string
          minLength: 1
          enum:
            - KTP
            - NPWP
            - REKBANK
            - WEBAPPSLOGO
            - PASPOR
            - KITAS
          description: Type of the attachment
      required:
        - type
        - contentType
    AttachmentRequest:
      title: AttachmentRequest
      type: object
      properties:
        fileName:
          type: string
        type:
          type: string
          enum:
            - NPWP
            - REKBANK
            - WEBAPPSLOGO
            - PASPOR
            - KITAS
            - ID CARD
          example: ID CARD
        file:
          type: string
          format: binary
    Webhook-Payload:
      type: object
      x-examples:
        example-1:
          amount: 105455000
          email: String
          merchantId: String
          publisherOrderId: String
          registerDate: String
          status: String
          transactionId: 105455000
          type: String
          vaNumber: String
      properties:
        amount:
          type: integer
        email:
          type: string
        merchantId:
          type: string
        publisherOrderId:
          type: string
        registerDate:
          type: string
        status:
          type: string
        transactionId:
          type: integer
        type:
          type: string
          enum:
            - money-in-notification
            - internal-transfer-notification
            - registration-merchant
        vaNumber:
          type: string
      title: Webhook Payload
      description: ''
    MoneyIn-TransferInternal:
      type: array
      description: ''
      minItems: 1
      uniqueItems: true
      x-examples:
        example-1:
          - transactionId: 1810601
            transferFromId: 17477
            transferFrom: rivaldimaulana@gmail.com
            amount: 10000
            description: null
            transactionDate: '2022-03-09 11:43:39'
          - transactionId: 1810599
            transferFromId: 17477
            transferFrom: rivaldimaulana@gmail.com
            amount: 10000
            description: null
            transactionDate: '2022-03-09 11:40:59'
          - transactionId: 1810598
            transferFromId: 17477
            transferFrom: rivaldimaulana@gmail.com
            amount: 10000
            description: null
            transactionDate: '2022-03-09 11:40:03'
      items:
        type: object
        properties:
          transactionId:
            type: number
          transferFromId:
            type: number
          transferFrom:
            type: string
            minLength: 1
          amount:
            type: number
          description:
            type: string
          transactionDate:
            type: string
            minLength: 1
        required:
          - transactionId
          - transferFromId
          - transferFrom
          - amount
          - transactionDate
    MoneyOut-TransferInternal:
      type: array
      description: ''
      minItems: 1
      uniqueItems: true
      items:
        type: object
        required:
          - transactionId
          - transferToId
          - transferTo
          - amount
          - description
          - transactionDate
        properties:
          transactionId:
            type: number
          transferToId:
            type: number
          transferTo:
            type: string
            minLength: 1
          amount:
            type: number
          description:
            type: string
            minLength: 1
          transactionDate:
            type: string
            minLength: 1
      x-examples:
        example-1:
          - transactionId: 1820605
            transferToId: 17478
            transferTo: rivaldimaulana02@gmail.com
            amount: 230000
            description: Bonus Test
            transactionDate: '2022-03-14 16:24:16'
          - transactionId: 1820604
            transferToId: 17478
            transferTo: rivaldimaulana02@gmail.com
            amount: 230000
            description: Bonus
            transactionDate: '2022-03-14 16:11:58'
          - transactionId: 1820603
            transferToId: 17478
            transferTo: rivaldimaulana02@gmail.com
            amount: 230000
            description: Bonus
            transactionDate: '2022-03-14 11:26:12'
          - transactionId: 1820602
            transferToId: 17478
            transferTo: rivaldimaulana02@gmail.com
            amount: 230000
            description: Bonus
            transactionDate: '2022-03-14 10:46:31'
          - transactionId: 1810606
            transferToId: 17478
            transferTo: rivaldimaulana02@gmail.com
            amount: 230000
            description: Bonus
            transactionDate: '2022-03-10 14:01:09'
          - transactionId: 1810601
            transferToId: 17478
            transferTo: rivaldimaulana02@gmail.com
            amount: 10000
            description: null
            transactionDate: '2022-03-09 11:43:39'
          - transactionId: 1810599
            transferToId: 17478
            transferTo: rivaldimaulana02@gmail.com
            amount: 10000
            description: null
            transactionDate: '2022-03-09 11:40:59'
          - transactionId: 1810598
            transferToId: 17478
            transferTo: rivaldimaulana02@gmail.com
            amount: 10000
            description: null
            transactionDate: '2022-03-09 11:40:03'
    InternalTransfer:
      description: ''
      type: object
      properties:
        sourceMerchantId:
          type: number
        destinationId:
          type: number
        amount:
          type: number
        description:
          type: string
          minLength: 1
      required:
        - sourceMerchantId
        - destinationId
        - amount
        - description
      x-examples:
        example-1:
          sourceMerchantId: 17477
          destinationId: 17478
          amount: 10000
          description: Bonus Test
    InternalTransferResponse:
      description: ''
      type: object
      properties:
        sourceMerchantId:
          type: number
        destinationId:
          type: number
        amount:
          type: number
        description:
          type: string
          minLength: 1
        transactionId:
          type: number
        responseCode:
          type: string
          minLength: 1
        responseMessage:
          type: string
          minLength: 1
      required:
        - sourceMerchantId
        - destinationId
        - amount
        - description
        - transactionId
        - responseCode
        - responseMessage
      x-examples:
        example-1:
          sourceMerchantId: 17477
          destinationId: 17478
          amount: 230000
          description: Bonus Test
          transactionId: 1820605
          responseCode: '00'
          responseMessage: SUCCESS
    AddProjectMerchant:
      type: object
      x-examples:
        example-1:
          projectName: Your Business Project
          website: 'https://business-project.com'
      title: ''
      properties:
        projectName:
          type: string
        website:
          type: string
        callbackUrl:
          type: string
      required:
        - projectName
        - website
        - callbackUrl
    ProjectMerchantResponse:
      type: object
      x-examples:
        example-1:
          id: 8823
          projectCode: D8823
          projectKey: c6197b634c03cf57aadf15d17cc4afc8
          projectName: Your Business Project
          website: 'https://business-project.com'
          websiteLogo: null
          backgroundLogo: null
      properties:
        id:
          type: integer
        projectCode:
          type: string
        projectKey:
          type: string
        projectName:
          type: string
        website:
          type: string
        callbackUrl:
          type: string
        websiteLogo:
          nullable: true
        backgroundLogo:
          nullable: true
    ListProjectMerchant:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
          projectCode:
            type: string
          projectKey:
            type: string
          projectName:
            type: string
          website:
            type: string
          callbackUrl:
            type: string
          websiteLogo:
            type: 'null'
          backgroundLogo:
            type: 'null'
      x-examples:
        example-1:
          - id: 8822
            projectCode: D7823
            projectKey: c6197b634c03cf57aadf15d17cc4afc8
            projectName: Your Business Project
            website: 'https://business-project.com'
            callbackUrl: 'https://business-project.com/callback'
            websiteLogo: null
            backgroundLogo: null
          - id: 8823
            projectCode: D8823
            projectKey: c6197b634c03cf57aadf15d17cc4afc8
            projectName: Store Suskes Selalu
            website: 'https://business-project.com'
            callbackUrl: 'https://business-project.com/callback'
            websiteLogo: null
            backgroundLogo: null
    AttachmentProjectRequest:
      title: AttachmentProjectRequest
      x-stoplight:
        id: vgtiypppdzr46
      type: object
      properties:
        filename:
          type: string
        type:
          type: string
          enum:
            - LOGO
            - BACKGROUND
          example: LOGO
        file:
          type: string
      required:
        - filename
        - type
    AttachmentProjectResponse:
      type: object
      properties:
        type:
          type: string
        contentType:
          type: string
        fileUrl:
          type: string
      x-examples:
        example-1:
          type: LOGO
          contentType: image/jpeg
          fileUrl: 'http://192.168.0.11:8888/Upload/174c505c-797f-4abb-8d2b-c065cb24aee3.jpg'
    AdditionalDataCountry:
      type: array
      items:
        type: object
        properties:
          countryCode:
            type: string
          description:
            type: string
      x-examples:
        example-1:
          - countryCode: IDN
            description: INDONESIA
          - countryCode: KOR
            description: KOREA
    AdditionalDataBank:
      type: array
      items:
        type: object
        properties:
          bankCode:
            type: string
          bankName:
            type: string
      x-examples:
        example-1:
          - bankCode: '014'
            bankName: PT BANK CENTRAL ASIA TBK.
          - bankCode: '002'
            bankName: 'PT BANK RAKYAT INDONESIA (PERSERO), TBK.'
    AdditionalDataBusinessType:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
          description:
            type: string
      x-examples:
        example-1:
          - id: 1
            description: Agricultural Cooperative
          - id: 2
            description: Landscaping Services
          - id: 3
            description: General Contractors
  securitySchemes: {}
  parameters:
    merchantId:
      name: merchantId
      in: path
      required: true
      schema:
        type: integer
        example: 1
      description: ID of Merchant
    X-duitku-code:
      name: X-duitku-code
      in: header
      required: true
      schema:
        type: string
        example: DK
      description: Duitku code is provided by Duitku.
    X-duitku-timestamp:
      name: X-duitku-timestamp
      in: header
      required: true
      schema:
        type: string
        example: '1644808050'
      description: X-duitku-timestamp is the timestamp of the request. It used UNIX Timestamp.
    X-duitku-signature:
      name: X-duitku-signature
      in: header
      required: true
      schema:
        type: string
        example: a8a06344a34d02ff427783edaff7a0652225b2e93c5415f67ab2b9190c531923
      description: 'The signature is required all request. Signature using hmac and sha256 with request method, relative path, time stamp, hash of entity body, API key and validation key as parameters.'
    dateFrom:
      name: dateFrom
      in: query
      required: true
      schema:
        type: string
        format: date-time
        example: '2022-01-01 09:39:37'
      description: Start date value for filter transaction
    dateTo:
      name: dateTo
      in: query
      required: true
      schema:
        type: string
        format: date-time
        example: '2022-02-10 09:39:37'
      description: End date value for filter transaction
    projectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
      description: ID of Project Merchant
    X-duitku-signature-attachment:
      name: X-duitku-signature-attachment
      in: header
      required: true
      schema:
        type: string
      description: 'The signature is required all request. Signature using hmac and sha256 with request method, relative path, time stamp, hash of entity body, API key and validation key as parameters. But at attachment the body set empty string ( hmac_sha256(upper(method)+":"+path+":"+duitku code+":"+lower(sha256(""))+":"+timestamp, secret key) )'
  responses:
    NotFound:
      description: Resource not found
      content:
        text/plain:
          schema:
            title: Error
            description: A standard error object.
            x-tags:
              - Common
            type: string
          examples:
            example-1:
              value: Merchant not found
    Unauthorized:
      description: Action not allowed
      content:
        text/plain:
          schema:
            type: string
          examples:
            example-1:
              value: Forbidden access
    ServerError:
      description: Internal Server Error
      content:
        text/plain:
          schema:
            type: string
          examples:
            example-1:
              value: Please try again later
  examples: {}
  requestBodies: {}
